.popup__heading {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;

    margin: 0;
    padding: 34px 64px 54px 36px;
}

@media screen and (max-width: 475px) {
    .popup__heading {
        font-size: 18px;
        line-height: 21px;
        padding: 25px 22px 75px;
    }
}