.popup__main-info {
    max-width: 358px;
    margin: 0 auto;
    padding: 0;

    display: block;

    border: none;
}

@media screen and (max-width: 475px) {
    .popup__main-info {
        max-width: 282px;
    }
}