.profile__edit_button {
    max-width: 10px;
    max-height: 10px;
    background-image: url(../../../image/profile-edit.svg);
    background-color: transparent;
    background-repeat: no-repeat;

    margin: 0 0 0 18px;
    padding: 7px;

    cursor:pointer;
    border: 1px solid #ffffff;
}