.profile__edit_button {
    max-width: 24px;
    max-height: 24px;
    background-color: #000000;

    margin-left: 25px;
    padding: 0;

    cursor: pointer;
    border: 1px solid #ffffff;
}

.profile__edit_button:hover {
    opacity: 0.6;
    transition: 0.5s;
}