.profile__edit_button {
    width: 24px;
    height: 24px;

    background-image: url(../../../image/profile-edit.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;

    margin-left: 25px;
    padding: 0;

    cursor: pointer;
    border: 1px solid #ffffff;
}

.profile__edit_button:hover {
    opacity: 0.6;
    transition: 0.5s;
}

@media screen and (max-width: 600px) {
    .profile__edit_button {
        width: 18px;
        height: 18px;
        margin: 29.5px 0 0 15px;
    }
}