.profile__name {
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0 0 16px 28px;

    grid-area: name;
}

@media screen and (max-width: 475px) {
    .profile__name {
        font-size: 27px;
        line-height: 32px;
        margin: 0 auto;
        padding: 22.25px 0 14px;
    }
}