.profile__add_button {
    max-width: 22px;
    max-height: 22px;
    background-image: url(../../../image/profile-add.svg);
    background-color: transparent;

    margin: 0;
    padding: 14px 64px;

    cursor: pointer;
    border: 1px solid #ffffff;
}

@media screen and (max-width: 475px) {
    .profile__add_button {
        max-width: 16px;
        max-height: 16px;
        padding: 17px 133px;
        margin: 0 auto;
        padding: 0;
    }
}