.profile__add_button {
    max-width: 150px;
    max-height: 50px;
    background-color: #000000;

    margin: 0;
    padding: 0;

    cursor: pointer;
    border: 1px solid #ffffff;
}

.profile__add_button:hover {
    opacity: 0.6;
    transition: 0.5s;
}

@media screen and (max-width: 475px) {
    .profile__add_button {
        max-width: 16px;
        max-height: 16px;
        padding: 17px 133px;
        margin: 0 auto;
        padding: 0;
    }
}