.popup__item {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;

    width: 100%;

    margin: 0 auto 30px;
    padding-bottom: 13px;

    border: 0;
    width: 100%;
    height: 27px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(84,84,84, 0.2);
}

.popup__item:last-child {
    margin-bottom: 0px;
}

.popup__item:focus {
    outline-color: yellow;
    outline-style: solid;
    outline-width: 3px;
}


@media screen and (max-width: 475px) {
    .popup__item {
        line-height: 16px;
        width: 238px;
        margin: 0 22px 30px;
    }
}
