.profile__job {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding-left: 28px;

    grid-area: job;
}

@media screen and (max-width: 600px) {
    .profile__job {
        font-size: 14px;
        line-height: 19px;
        margin: 0 auto;
        padding: 0 0 36px;
    }
}